{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Последние обновления на сайте
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Последние обновления на сайте</h1>
<!--    {% load cache %}
    {% cache 20 index_page request.GET.page %}-->
    {% for recipe in page_obj %}
    {% include 'recipe/includes/recipe_list.html' %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
<!--    {% endcache %}-->
    {% include 'recipe/includes/paginator.html' %}
  </div>
{% endblock %}